<%= form_tag session_path do |f| %>
  <fieldset class="form-group">
    <%= text_field_tag :credential, params[:credential], placeholder: 'E-mail or username', class: 'form-control' %>
  </fieldset>

  <fieldset class="form-group">
    <div class="row">
      <div class="col-md-8">
        <%= password_field_tag :password, nil, placeholder: 'Password', class: 'form-control' %>
      </div>

      <div class="col-md-4">
        <%= submit_tag 'Sign in', class: 'btn btn-primary btn-block' %>
      </div>
    </div>
  </fieldset>

  <% if @session_errors.present? %>
    <ul>
      <% @session_errors.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
