<%= form_for @world do |f| %>
  <%= content_tag :fieldset, class: ['form-group', ('has-danger' if f.object.errors[:name].any?)] do %>
    <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
  <% end %>

  <%= content_tag :fieldset, class: ['form-group', ('has-danger' if f.object.errors[:description].any?)] do %>
    <%= f.text_area :description, class: 'form-control', placeholder: 'Description' %>
  <% end %>

  <% if f.object.errors.any? %>
    <ul>
      <% f.object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.submit class: 'btn btn-success' %>
<% end %>
