<%= form_for @user, html: { class: ['ui', 'form', ('error' if @user.errors.any?)] } do |f| %>
  <%= content_tag :div, class: ['field', ('error' if @user.errors[:name].any?)] do %>
    <%= f.text_field :name, placeholder: 'Name' %>
  <% end %>

  <%= content_tag :div, class: ['field', ('error' if @user.errors[:email].any?)] do %>
    <%= f.email_field :email, placeholder: 'E-mail' %>
  <% end %>

  <%= content_tag :div, class: ['field', ('error' if @user.errors[:password].any?)] do %>
    <%= f.password_field :password, placeholder: 'Password' %>
  <% end %>

  <% if @user.errors.any? %>
    <div class="ui error message">
      <ul class="list">
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.submit 'Sign up', class: 'ui right floated green button' %>
<% end %>
