<%= form_for @user do |f| %>
  <%= content_tag :fieldset, class: ['form-group', ('has-danger' if f.object.errors[:name].any?)] do %>
    <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
  <% end %>

  <%= content_tag :fieldset, class: ['form-group', ('has-danger' if f.object.errors[:email].any?)] do %>
    <%= f.email_field :email, class: 'form-control', placeholder: 'E-mail' %>
  <% end %>

  <%= content_tag :fieldset, class: ['form-group', ('has-danger' if f.object.errors[:password].any?)] do %>
    <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
  <% end %>

  <% if @user.errors.any? %>
    <ul class="list">
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.submit 'Sign up', class: 'btn btn-success' %>
<% end %>
