<div class="ui centered grid container">
  <div class="doubling two column row">
    <div class="column">
      <h1>The princess has gone missing!</h1>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Qui laboriosam fugit explicabo eum sed consequatur saepe, quo tenetur
        debitis magnam, porro sunt sapiente molestias labore, suscipit
        temporibus ea quaerat nam!
      </p>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Qui laboriosam fugit explicabo eum sed consequatur saepe, quo tenetur
        debitis magnam, porro sunt sapiente molestias labore, suscipit
        temporibus ea quaerat nam!
      </p>
    </div>

    <div class="column">
      <div class="ui segment">
        <%= form_tag sessions_path, class: 'ui form' do |f| %>
          <div class="field">
            <%= email_field_tag :email, params[:email], placeholder: 'E-mail' %>
          </div>

          <div class="fields">
            <div class="twelve wide field">
              <%= password_field_tag :password, nil, placeholder: 'Password' %>
            </div>

            <div class="four wide field">
              <button class="ui fluid blue button">Sign in</button>
            </div>
          </div>
        <% end %>
      </div>

      <div class="ui clearing segment">
        <h2>New to save the princess? Sign up!</h2>

        <%= form_for @user, html: { class: ['ui', 'form', ('error' if @user.errors.any?)] } do |f| %>
          <%= content_tag :div, class: ['field', ('error' if @user.errors[:name].any?)] do %>
            <%= f.text_field :name, placeholder: 'Name' %>
          <% end %>

          <%= content_tag :div, class: ['field', ('error' if @user.errors[:email].any?)] do %>
            <%= f.email_field :email, placeholder: 'E-mail' %>
          <% end %>

          <%= content_tag :div, class: ['field', ('error' if @user.errors[:password].any?)] do %>
            <%= f.password_field :password, placeholder: 'Password' %>
          <% end %>

          <% if @user.errors.any? %>
            <div class="ui error message">
              <ul class="list">
                <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <%= f.submit 'Sign up', class: 'ui right floated green button' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
