<nav class="navbar navbar-light bg-faded">
  <div class="container">
    <ul class="nav navbar-nav">
      <%= content_tag :li, class: 'nav-item' do %>
        <%= link_to worlds_path, class: 'nav-link' do %>
          <%= t('.worlds') %>
        <% end %>
      <% end %>
    </ul>

    <ul class="nav navbar-nav pull-xs-right">
      <%= content_tag :li, class: 'nav-item' do %>
        <%= link_to icon('plus'), new_world_path, class: 'nav-link' %>
      <% end %>
      <%= content_tag :li, class: 'nav-item dropdown' do %>
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true">
          <%= image_tag current_account.avatar_url, class: 'avatar' %>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <%= link_to 'Settings', edit_account_path(current_account), class: 'dropdown-item' %>
          <%= link_to 'Logout', session_path, method: 'delete', class: 'dropdown-item' %>
        </div>
      <% end %>
    </ul>
  </div>
</nav>
