<nav class="navbar navbar-light bg-faded">
  <%= link_to 'Save the Princess', root_path, class: 'navbar-brand' %>
  <ul class="nav navbar-nav">
    <%= content_tag :li, class: 'nav-item' do %>
      <%= link_to worlds_path, class: 'nav-link' do %>
        <%= t('.worlds') %>
      <% end %>
    <% end %>
  </ul>

  <ul class="nav navbar-nav pull-xs-right">
    <%= content_tag :li, class: 'nav-item' do %>
      <%= link_to icon('plus'), new_world_path, class: 'nav-link' %>
    <% end %>
    <%= content_tag :li, class: 'nav-item' do %>
      <%= link_to 'Logout', session_path(current_user.id), method: 'delete', class: 'nav-link' %>
    <% end %>
  </ul>
</nav>
