<%= form_for @location, html: { class: ['ui', 'form', ('error' if @location.errors.any?)] } do |f| %>
  <%= f.hidden_field :world_id %>
  <%= f.hidden_field :latitude, class: 'form-control', placeholder: 'Latitude' %>
  <%= f.hidden_field :longitude, class: 'form-control', placeholder: 'Longitude' %>

  <%= link_to @location.world, @location.world %>
  /
  <span class="form-inline">
    <%= f.text_field :name, class: 'form-control form-control-sm', placeholder: 'Name' %>
  </span>
  or
  <%= link_to 'cancel', :back %>

  <div class="alert alert-info m-t-1">
    Click on the map below to use it as coordinates for your location.
  </div>

  <div class="card m-t-1">
    <div class="card-header">
      <%= @location.new_record? ? 'New Location' : 'Edit Location' %>
      <small class="pull-xs-right text-muted location-coordinates">
        (0, 0)
      </small>
    </div>

    <div class="planet">
      <%= image_tag @location.world.map_path, class: 'world-map-img' %>
    </div>

    <div class="card-block">
      <%= content_tag :fieldset, class: ['form-group', ('error' if @location.errors[:description].any?)] do %>
        <%= f.text_area :description, class: 'form-control', placeholder: 'Description' %>
      <% end %>

      <% if @location.errors.any? %>
        <ul>
          <% @location.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <%= f.submit class: 'btn btn-success' %>
    </div>
  </div>
<% end %>
