<!DOCTYPE html>
<html>
<head>
  <title>SaveThePrincess</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'navbar' %>

  <% if flash.any? && flash[:notice] %>
    <div id="flash" class="ui centered grid container">
      <div class="doubling one column row">
        <div class="colum">
          <div class="ui positive message">
            <%= flash[:notice] %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <%= yield %>
</body>
</html>
