<div class="container p-t-1">
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        <a class="list-group-item active">
          Profile
        </a>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card">
        <div class="card-header">
          Edit profile
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-md-8">
              <%= form_for @account do |f| %>
                <% if @account.errors.any? %>
                  <ul class="list">
                    <% @account.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
                <% end %>

                <%= content_tag :fieldset, class: 'form-group' do %>
                  <%= f.label :name %>
                  <%= f.text_field :name, class: 'form-control' %>
                <% end %>
                <%= content_tag :fieldset, class: 'form-group' do %>
                  <%= f.submit class: 'btn btn-success' %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
